<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>k-nearest neighbors Confusion Matrix</title>
    <link rel="stylesheet" href="/static/css/output.css">
</head>
<body class="bg-orange-50 min-h-screen flex flex-col justify-center items-center">

    <div class="max-w-screen-lg w-full text-center">
        <h1 class="text-3xl font-bold text-gray-800 mb-8">k-nearest neighbors Confusion Matrix</h1>
        <img src="/static/confusematrix/knn/confusion_matrix_knn.png" alt="Naive Bayes Confusion Matrix" class="mx-auto shadow-md w-1/2">
    </div>

</body>
</html>
