<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
    <link rel="stylesheet" href="/static/css/output.css">
    <!-- <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet"> -->



</head>

<body class=" bg-gradient-to-r  h-screen overflow-x-hidden">
    <nav class="flex flex-row items-center justify-evenly mt-5  mb-3 bg-white font-Popins">
        <div class="font-Popins uppercase text-black font-bold tracking-wider">
            <span class="text-2xl">R</span>ain <span class="text-2xl">R</span>adar
        </div>
        <div class="font-Popins ">
            <ul class="flex flex-row gap-10 items-center">
                <li class="relative group px-3 py-2">
                    <button
                        class="text-black bg-clip-text bg-gradient-to-r from-black to-black hover:from-orange-500 hover:via-orange-400 hover:to-yellow-400 hover:text-transparent">
                        View Trends
                    </button>


                    <div
                        class="absolute top-5 -left-20 transition group-hover:translate-y-5 translate-y-0 opacity-0 invisible group-hover:opacity-100 group-hover:visible duration-500 ease-in-out group-hover:transform z-50 min-w-[300px]">
                        <div class="relative top-6 p-6 bg-white rounded-xl shadow-xl w-full">
                            <div
                                class="z-0 absolute bg-gradient-to-r  from-yellow-400 via-orange-300 to-orange-500 w-5 h-5 transform rotate-45 -top-2  translate-x-0 transition-transform group-hover:translate-x-[6.5rem] duration-500 ease-in-out rounded-sm">
                            </div>
                            <div class="relative z-50 top-0">
                                <div class="grid grid-cols-1 gap-2">
                                    <div class=" col-span-1">
                                        <p class="text-gray-500 tracking-wider text-[13px] font-Popins font-medium"> The
                                            Suit</p>
                                        <ul class="mt-5">
                                            <li class="border-b border-gray-200 text-[15px]">
                                                <a href="/DisplayData" class="block p-2 -mx-2
                                                rounded-lg hover:bg-gradient-to-br hover:from-yellow-150
                                                hover:via-orange-100 hover:to-white transition ease-in-out duration-300 text-gray-800
                                                font-semibold hover:text-indigo-600">
                                                    View Trends
                                                    <p class="text-gray-500 font-normal">
                                                        7 Days of Weather
                                                    </p>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="relative group px-3 py-2">
                    <button
                        class="text-black bg-clip-text bg-gradient-to-r from-black to-black hover:from-orange-500 hover:via-orange-400 hover:to-yellow-400 hover:text-transparent">
                        Classification
                    </button>
                    <div
                        class="absolute top-5 -left-48 transition group-hover:translate-y-5 translate-y-0 opacity-0 invisible group-hover:opacity-100 group-hover:visible duration-500 ease-in-out group-hover:transform z-50 min-w-[560px]">
                        <div class="relative top-6 p-6 bg-white rounded-xl shadow-xl w-full">
                            <div
                                class="z-0 absolute bg-gradient-to-r  from-yellow-400 via-orange-300 to-orange-500 w-5 h-5 transform rotate-45 -top-2  translate-x-0 transition-transform group-hover:translate-x-[14rem] duration-500 ease-in-out rounded-sm">
                            </div>
                            <p
                                class="text-gray-500 tracking-wider text-[13px] font-Popins font-medium w-full text-start">
                                Classification</p>
                            <div class="grid grid-cols-2 gap-2">
                                <div class=" col-span-1">
                                    <ul class="mt-5">
                                        <li class="border-b border-gray-200 text-[15px]">
                                            <a href="/Allinone" class="block p-2 -mx-2
                                            rounded-lg hover:bg-gradient-to-br hover:from-yellow-150
                                            hover:via-orange-100 hover:to-white transition ease-in-out duration-300 text-gray-800
                                            font-semibold hover:text-indigo-600">
                                                K-Nearest Neighbors (KNN)
                                                <p class="text-gray-500 font-normal">
                                                    Classifies based on the proximity of neighboring data points.
                                                </p>
                                            </a>
                                        </li>
                                        <li class="border-b border-gray-200 text-[15px]">
                                            <a href="/Allinone" class="block p-2 -mx-2
                                            rounded-lg hover:bg-gradient-to-br hover:from-yellow-150
                                            hover:via-orange-100 hover:to-white transition ease-in-out duration-300 text-gray-800
                                            font-semibold hover:text-indigo-600">
                                                Naive Bayes
                                                <p class="text-gray-500 font-normal">
                                                    Applies Bayes' theorem with independence assumptions for
                                                    classification.
                                                </p>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class=" col-span-1">

                                    <ul class="mt-5">
                                        <li class="border-b border-gray-200 text-[15px]">
                                            <a href="/Allinone" class="block p-2 -mx-2
                                            rounded-lg hover:bg-gradient-to-br hover:from-yellow-150
                                            hover:via-orange-100 hover:to-white transition ease-in-out duration-300 text-gray-800
                                            font-semibold hover:text-indigo-600">
                                                SVM (Support Vector Machine)
                                                <p class="text-gray-500 font-normal">
                                                    Finds the optimal boundary for classification using hyperplanes.
                                                </p>
                                            </a>
                                        </li>
                                        <li class="border-b border-gray-200 text-[15px]">
                                            <a href="/Allinone" class="block p-2 -mx-2
                                            rounded-lg hover:bg-gradient-to-br hover:from-yellow-150
                                            hover:via-orange-100 hover:to-white transition ease-in-out duration-300 text-gray-800
                                            font-semibold hover:text-indigo-600">
                                                Artificial Neural Network
                                                <p class="text-gray-500 font-normal">
                                                    Simulates human brain neural structures for complex decision-making
                                                </p>
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                </li>
                <li class="relative group px-3 py-2">

                    <button id="clusteringButton"
                        class="text-black bg-clip-text bg-gradient-to-r from-black to-black hover:from-orange-500 hover:via-orange-400 hover:to-yellow-400 hover:text-transparent">
                        Clustering
                    </button>

                </li>
                <li class="relative group px-3 py-2">
                    <button
                        class="text-black bg-clip-text bg-gradient-to-r from-black to-black hover:from-orange-500 hover:via-orange-400 hover:to-yellow-400 hover:text-transparent">
                        Association
                    </button>


                    <div
                        class="absolute top-5 -left-20 transition group-hover:translate-y-5 translate-y-0 opacity-0 invisible group-hover:opacity-100 group-hover:visible duration-500 ease-in-out group-hover:transform z-50 min-w-[300px]">
                        <div class="relative top-6 p-6 bg-white rounded-xl shadow-xl w-full">
                            <div
                                class="z-0 absolute bg-gradient-to-r  from-yellow-400 via-orange-300 to-orange-500 w-5 h-5 transform rotate-45 -top-2  translate-x-0 transition-transform group-hover:translate-x-[6.5rem] duration-500 ease-in-out rounded-sm">
                            </div>
                            <div class="relative z-50 top-0">
                                <div class="grid grid-cols-1 gap-2">
                                    <div class=" col-span-1">
                                        <p class="text-gray-500 tracking-wider text-[13px] font-Popins font-medium">
                                            Association</p>
                                        <ul class="mt-5">
                                            <li class="border-b border-gray-200 text-[15px]">
                                                <a href="/AssociationNew" class="block p-2 -mx-2
                                                rounded-lg hover:bg-gradient-to-br hover:from-yellow-150
                                                hover:via-orange-100 hover:to-white transition ease-in-out duration-300 text-gray-800
                                                font-semibold hover:text-indigo-600">
                                                    Association
                                                    <p class="text-gray-500 font-normal">
                                                        Apriori Algorithms
                                                    </p>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </li>



            </ul>
        </div>
        <div
            class="bg-yellow-300 px-4 py-3 flex flex-row gap-3  text-white uppercase tracking-wider group ring-4 ring-white rounded-md    cursor-pointer hover:-translate-y-1 hover:scale-105 transition ease-in duration-150">
            <p class="text-black font-bold group-hover:text-black ">Signup</p>
            <svg class="text-black w-5 group-hover:translate-x-1 transition-transform ease-in duration-150 group-hover:text-black"
                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3" />
            </svg>
        </div>

    </nav>
    <div
        class="w-full flex flex-row items-center justify-between  gap-10 px-20  bg-gradient-to-br from bg-purple-50 via bg-orange-50 min-h-svh">
        <div class="max-w-lg space-y-6">
            <h2 class="text-4xl font-extrabold text-gray-900 leading-tight tracking-tight mb-6">
                Weather Trends & Insights
            </h2>
            <p class="text-lg text-gray-700 leading-relaxed tracking-wide mb-8">
                Explore weather forecasts with interactive charts and graphs. Analyze temperature, humidity, and more in
                one place.
            </p>

            <button
                class="bg-gradient-to-tl from-yellow-400 to-orange-400 flex flex-row gap-3  px-4 py-2 uppercase tracking-wider group ring-4 ring-white rounded-md  hover:bg-white hover:ring-yellow-300  cursor-pointer relative">

                <a href="/DisplayData" class="text-white font-bold group-hover:text-black">View Trends</a>
                <span class="absolute flex h-3 w-3 -top-1 -right-1">
                    <span
                        class="animate-ping absolute inline-flex h-full w-full rounded-full bg-orange-500 opacity-75"></span>
                    <span class="relative inline-flex rounded-full h-3 w-3 bg-orange-500"></span>
                </span>
            </button>


        </div>
        <div class=" w-1/2 flex items-center justify-center relative">
            <div class="relative w-1/2 z-10 shadow-lg rounded-2xl">
                <img src="/static/3353166.jpg" class="w-full rounded-2xl" alt="">
            </div>
            <div
                class="absolute w-1/2 shadow-xl transform rotate-12 inset-0 flex items-center justify-center bg-gradient-to-r from-yellow-400 via-orange-300 to-orange-500 p-[px] rounded-2xl  translate-x-1/2">

            </div>



        </div>

    </div>
    <div class="flex-1 px-20 my-20">
        <h2 class="text-2xl font-bold mb-4">Weather Data Table</h2>
        <button id="showTableBtn"
            class="tracking-wider uppercase bg-gradient-to-tl from-yellow-400 to-orange-400 text-white px-4 py-2 rounded-md shadow-[0_4px_15px_rgba(252,211,77,0.4),_0_6px_20px_rgba(251,146,60,0.4)] transition ease-in-out duration-300 transform hover:-translate-y-1  hover:shadow-[0_8px_20px_rgba(252,211,77,0.5),_0_12px_30px_rgba(251,146,60,0.5)]">
            Show Table</button>

        <div id="table-container" class="mt-8 hidden bg-white overflow-auto p-4 shadow-md rounded"></div>
        <div class="flex items-center justify-center pb-20">
            <div class="flex flex-wrap gap-6 mt-10 items-center">

                <div class="bg-gradient-to-r  bg-orange-500 rounded-lg  p-[2px]">
                    <div class="max-w-xs bg-white shadow-lg rounded-lg">
                        <div class="p-6">
                            <h5 class="text-xl font-semibold mb-4">Classification</h5>
                            <p class="text-gray-700 mb-4">Explore classification techniques like decision trees, random
                                forests, etc.</p>
                            <a href="/classification"
                                class="tracking-wider uppercase bg-gradient-to-tl from-yellow-400 to-orange-400 text-white px-4 py-2 rounded-md ">
                                Learn More</a>
                        </div>
                    </div>
                </div>
                <div class="bg-gradient-to-r  bg-orange-500 rounded-lg  p-[2px]">
                    <div class="max-w-xs bg-white shadow-lg rounded-lg">
                        <div class="p-6">
                            <h5 class="text-xl font-semibold mb-4">Association</h5>
                            <p class="text-gray-700 mb-4">Learn about association rules, like Apriori and FP-growth.</p>
                            <a href="/AssociationNew"
                                class="tracking-wider uppercase bg-gradient-to-tl from-yellow-400 to-orange-400 text-white px-4 py-2 rounded-md ">Learn
                                More</a>
                        </div>
                    </div>

                </div>

                <div id="clusteringSection" class="bg-gradient-to-r  bg-orange-500 rounded-lg  p-[2px]">
                    <div class="max-w-xs bg-white shadow-lg rounded-lg">
                        <div class="p-6">
                            <h5 class="text-xl font-semibold mb-4">Clustering</h5>
                            <p class="text-gray-700 mb-4">Explore clustering algorithms like K-means and hierarchical
                                clustering.</p>
                            <a href="/ClusterSceniro"
                                class="tracking-wider uppercase bg-gradient-to-tl from-yellow-400 to-orange-400 text-white px-4 py-2 rounded-md ">Learn
                                More</a>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>

    <script>
        document.getElementById('showTableBtn').addEventListener('click', function () {
            const tableContainer = document.getElementById('table-container');

            if (tableContainer.style.display === 'block') {
                tableContainer.style.display = 'none';
            } else {
                tableContainer.style.display = 'block';
                fetch('/show_data')
                    .then(response => response.text())
                    .then(data => {
                        tableContainer.innerHTML = data;


                        const table = tableContainer.querySelector('table');
                        if (table) {
                            table.classList.add('w-full', 'table-auto', 'border-collapse');


                            table.querySelectorAll('th').forEach(th => {
                                th.classList.add('p-3', 'text-left', 'bg-gray-200', 'border-b-2', 'border-gray-300', 'text-gray-700');
                            });


                            table.querySelectorAll('tr').forEach(tr => {
                                tr.classList.add('hover:bg-gray-100', 'border-b', 'border-gray-200');
                            });
                            table.querySelectorAll('td').forEach(td => {
                                td.classList.add('p-3');
                            });
                        }
                    })
                    .catch(error => {
                        console.error('Error fetching data:', error);
                        tableContainer.innerHTML = '<p class="text-red-500">Error loading table data.</p>';
                    });
            }

        });
        const clusteringButton = document.getElementById('clusteringButton');
        const clusteringSection = document.getElementById('clusteringSection');


        clusteringButton.addEventListener('click', function () {

            clusteringSection.scrollIntoView({
                behavior: 'smooth',
                block: 'start'
            });
        });

    </script>
</body>

</html>